@model Ejercicio1.Models.Pokemon

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar este pokemon?</h3>
<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-8">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Tipo.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Debilidad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Debilidad.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Activo)
            </dd>
        </dl>
    </div>
    <div class="col-4">
        <img src="@(string.IsNullOrWhiteSpace(@Model.UrlImagen)
            ? "/images/image_not_found.png" : @Model.UrlImagen)"
             class="img-fluid shadow-sm"
             style="max-width:250px"
             onerror="this.onerror=null; this.src='/images/image_not_found.png';" />
    </div>
</div>

<form asp-action="Delete" autocomplete="off">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista.</a>
</form>
